affine==2.4.0
aiobotocore==2.5.4
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aioitertools==0.12.0
aiosignal==1.3.2
anndata==0.11.3
annotated-types==0.7.0
anyio==4.6.2.post1
appdirs==1.4.4
array_api_compat==1.11
asciitree==0.3.3
asttokens==2.4.0
attrs==25.1.0
backcall==0.2.0
biopython==1.81
botocore==1.31.17
cellcharter @ file:///C:/Users/virgi/cellcharter
certifi==2024.8.30
charset-normalizer==3.4.1
click==8.1.8
click-plugins==1.1.1
cligj==0.7.2
cloudpickle==3.1.1
cobra==0.29.0
colorama==0.4.6
colorcet==3.1.0
comm==0.1.4
common==0.1.2
contourpy==1.1.1
cycler==0.12.1
dask==2024.11.2
dask-expr==1.1.19
dask-image==2024.5.3
datashader==0.17.0
debugpy==1.8.0
decorator==5.1.1
depinfo==2.2.0
Deprecated==1.2.18
diskcache==5.6.3
distributed==2024.11.2
docrep==0.3.2
executing==2.0.0
fasteners==0.19
filelock==3.17.0
FlowIO==1.3.0
fonttools==4.43.1
frozenlist==1.5.0
fsspec==2023.6.0
future==1.0.0
geopandas==1.0.1
h11==0.14.0
h5py==3.13.0
httpcore==1.0.6
httpx==0.27.2
idna==3.10
igraph==0.11.8
imagecodecs==2025.3.30
imageio==2.36.1
importlib_metadata==8.6.1
importlib_resources==6.4.5
inflect==7.5.0
ipykernel==6.25.2
ipython==8.16.1
jedi==0.19.1
Jinja2==3.1.5
jmespath==1.0.1
joblib==1.4.2
jupyter_client==8.3.1
jupyter_core==5.3.2
kiwisolver==1.4.5
lazy_loader==0.4
legacy-api-wrap==1.4.1
leidenalg==0.10.2
lightning-utilities==0.12.0
limit==0.2.3
llvmlite==0.44.0
locket==1.0.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.8.0
matplotlib-inline==0.1.6
matplotlib-scalebar==0.9.0
mdurl==0.1.2
more-itertools==10.6.0
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multipledispatch==1.0.0
multiscale_spatial_image==2.0.2
myMath==1.0.1
natsort==8.4.0
nest-asyncio==1.5.8
networkx==3.4.2
numba==0.61.0
numcodecs==0.15.1
numpy==1.26.1
ome-types==0.6.0
ome-zarr==0.10.3
omnipath==1.0.8
opencv-python==4.10.0.84
optlang==1.8.2
packaging==23.2
pandas==2.1.1
param==2.2.0
parso==0.8.3
partd==1.4.2
patsy==1.0.1
pickleshare==0.7.5
Pillow==10.1.0
PIMS==0.7
platformdirs==3.11.0
pooch==1.8.2
prompt-toolkit==3.0.39
propcache==0.3.0
psutil==5.9.5
pure-eval==0.2.2
pyarrow==19.0.1
pyct==0.5.0
pydantic==2.9.2
pydantic-extra-types==2.10.3
pydantic_core==2.23.4
Pygments==2.16.1
pynndescent==0.5.13
pyogrio==0.10.0
pyparsing==3.1.1
pyproj==3.7.1
python-dateutil==2.8.2
python-libsbml==5.20.4
pytorch-lightning==2.5.0.post0
pytz==2023.3.post1
pywin32==306
PyYAML==6.0.2
pyzmq==25.1.1
rasterio==1.4.3
readfcs==2.0.1
requests==2.32.3
rich==13.9.4
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
s3fs==2023.6.0
scanpy==1.11.0
scikit-image==0.25.0
scikit-learn==1.5.2
scipy==1.14.1
seaborn==0.13.2
session-info2==0.1.2
session_info==1.0.0
shapely==2.0.7
six==1.16.0
sknw==0.15
slicerator==1.1.0
sniffio==1.3.1
sortedcontainers==2.4.0
spatial_image==1.1.0
spatialdata==0.3.0
spatialdata-io==0.1.7
spatialdata-plot==0.2.7
squidpy==1.6.2
stack-data==0.6.3
statsmodels==0.14.4
stdlib-list==0.11.1
swiglpk==5.0.10
sympy==1.13.1
tblib==3.0.0
texttable==1.7.0
threadpoolctl==3.5.0
tifffile==2024.12.12
toolz==1.0.0
torch==2.6.0
torchgmm==0.1.2
torchmetrics==1.6.1
tornado==6.3.3
tqdm==4.67.1
traitlets==5.11.2
typeguard==4.4.2
typing_extensions==4.12.2
tzdata==2023.3
umap-learn==0.5.7
urllib3==1.26.20
validators==0.34.0
wcwidth==0.2.8
wrapt==1.17.2
xarray==0.19.0
xarray-dataclasses==1.9.1
xarray-datatree==0.0.15
xarray-schema==0.0.3
xarray-spatial==0.4.0
xsdata==24.3.1
yarl==1.18.3
zarr==2.18.4
zict==3.0.0
zipp==3.21.0
